<!DOCTYPE html>
<html>
  <head>
    <title>Music APP</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      body,h1,h2,h3,h4,h5,h6.w3-wide {font-family: "Montserrat", sans-serif; color: #27223C; }
      th, td {
        padding: 15px;
        border-bottom: 1px solid #ddd;
      }
      th {
        background-color: #FCD16B;
      }
      tr:hover {background-color: #FCD16B;}
    </style>
  </head>

  <body bgcolor="#FCD16B">
    <div align="center"  style="height:250px; padding-top: 25px;">
      <h1  class="w3-center w3-padding-16" >Promote Your Music on TikTok</h1>
      <p class="w3-center w3-padding-16" >By uploading your song, we search similar music to yours, and search the most likely application on TikTok.  </p>
    </div>
    <p align="center"> Explore Your Music <a href="/genre"><b>Begins!</b></a></p>

  </body>

</html>
